* {
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  background-color: antiquewhite;
}
#input-el {
  height: 30px;
  width: 500px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: 35px;
  width: 150px;
  padding: 5px;
  margin-top: 15px;
  font-weight: bold;
}
#checkbox-el {
  padding: px;
  width: 30px;
  height: 20px;
}
ul li {
  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  margin-left: 0px;
  list-style: none;
  cursor: pointer;
  position: relative;
}

ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
#taskList {
  width: 500px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px 5px 10px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
